<div class="row header">
   
    <div   class="col-2 pull-left user-img-wrapper">
        
        <img *ngIf="auth.isLoggedIn()" class="user-avatar pull-left "  [src]="auth.currentUser.image" routerLink="/user/{{auth.currentUser._id}}">

    </div>
    

    <div class="col-8 header-title-wrapper" >
        <h1 routerLink="/" class="header-title text-center">Besababa</h1>
    </div> 

    <div class="col-2 pull-right">
      <div class="header-menu-wrapper text-right">
          <mat-icon mat-icon-button [matMenuTriggerFor]="menu">menu</mat-icon>
          
          <mat-menu #menu="matMenu">
            <button mat-menu-item>
              <mat-icon>menu</mat-icon>
            </button>
            <button mat-menu-item routerLink="/">
                <mat-icon>home</mat-icon>
              </button>
              
            <button *ngIf="auth.isLoggedIn()" mat-menu-item routerLink="/user/{{auth.currentUser._id}}">
              <mat-icon>person</mat-icon>
            </button>

            <button *ngIf="auth.isLoggedIn()" mat-menu-item (click)="auth.logout()">
              <mat-icon>lock</mat-icon>
            </button>

            <button mat-menu-item *ngIf="!auth.isLoggedIn()" routerLink="/login">         
                <mat-icon>lock_open</mat-icon>
              </button>
            
          </mat-menu>
      </div>
       
    </div>
</div>





