
.event-image-header{

    background: purple;
    color: white;
    width: 60%;
    margin: 50px auto;
    padding: 10px;
    border-radius:10px;
    font-weight: bold; 
}

.go-next-btn{
    margin: 0 auto;
}


.file-input-image{
    display: none;
}


img.event-image-carousel{
    width: 300px;
    height: 300px;
}

:host ::ng-deep .carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M4 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
    position: absolute;
    right: 45px;
    user-select: none;
}

:host ::ng-deep .carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath  d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");  
    position: absolute;
    left: 45px;
    user-select: none;
}
.event-image-caroesel-wrapper{
    width: 300px;
    height: 300px;
}