.event-title{
    font-size: 1em;
}

.event-image{
    text-align: center;
    width: 300px;
    height: 300px;
}

.event-start-date,.event-end-date{

    opacity: 0.7;
    font-size: 12px;
   
}

.event-dates{
    float: right;
    font-size: 0.8em;
}

.description-wrapper{

    margin-top:20px 
}

.file-input-image{
    display: none;
}

.event-description{
    margin-top: 10px;
}