
<div class="row">

  <div class="col-12 title-event">
      <div class="event-title">{{event.title}} </div>
  </div>

  <div class="col-12 date-event">
      <span class="event-start-date">{{event.start_date}}</span>
      <span class="event-end-date" *ngIf="event && event.end_date"> - {{event.end_date}}</span>
  </div>

  <div class="col-12">
        <img *ngIf="isEditing" class="event-image" [src]="event.image" [alt]="event.title">

      <div  *ngIf="!isEditing">
          <img class="event-image" [src]="event.image" [alt]="event.title" (click)="fileInput.click()">
          <input class="file-input-image" type="file" #fileInput (change)="uploadImage($event)">
      </div>
      
  </div>
  <read-more class="col-12 event-description">
      {{event.description}}
  </read-more>
</div>

  