


<ng-template class="login-modal-template" #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">SHARE</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p class="login-modal-message">
      {{message}}
    </p>
    <div class="row">
        <share-buttons [theme]="'default'"
        [include]="['facebook','twitter','google','whatsapp','messenger','sms','email','copy','print']"
        [show]="9"
        [showText]="true"
        [size]="4"
        [url]="'http://localhost:4200/event/8/home'"
        [title]="'You invited to the best event'"
        [description]="'bla bla bla'"
        [image]="'https://besababa.ams3.digitaloceanspaces.com/temp/XgpUEo0IqyohNrfgjB8Ssvhms6An4zRdvHgOtH9X.png'"
        [tags]="'best event'"
       ></share-buttons>
    </div>
    

  </div>
  <div class="modal-footer">
      <button type="button" class="btn btn-secondary pull-right" (click)="c('close')">Close</button>
  </div>
</ng-template>

<div class="row">
  <div class="col-2 offset-4">
      <button class=" btn btn-primary" (click)="open(content)">Invite friends</button>
  </div>
</div>
