<div class="header">
 

    <ul class="nav nav-pills event-header-nav row">
        <li class="nav-item col-2" routerLink="/event/{{event_id}}/home">
            <img class="event-image" *ngIf="event" [src]="eventImage" [alt]="event.title">
        </li>
        <li class="nav-item col-2 col-md-1">
            <a class="nav-link" mat-button routerLink="/"> <mat-icon>home</mat-icon></a>
        </li>
        <li class="nav-item col-2 col-md-1">
            <a class="nav-link" routerLinkActive="active" mat-button routerLink="/event/{{event_id}}/home"> <mat-icon>event_note</mat-icon></a>
        </li>
        <li class="nav-item col-2 col-md-1">
            <a class="nav-link" routerLinkActive="active" mat-button routerLink="/event/{{event_id}}/apps"> <mat-icon>apps</mat-icon></a>
        </li>
        <li class="nav-item col-2 col-md-1">
            <a class="nav-link" routerLinkActive="active" mat-button routerLink="/event/{{event_id}}/friends"> <mat-icon>people</mat-icon></a>
        </li>

        <li class="nav-item dropdown col-2 col-md-1">
          <menu-header></menu-header>
        </li>
    </ul>  
</div>

