
 .header {
    height: 100px;
 }
 
 .header-image{

    width: 50px;
    height: 50px;
    border-radius: 100px;
    margin: 10px;
   

}
.nav-item > a ,.nav-item > mat-icon{
    top: 20px;
    position: absolute;
}
