<div class="row event-header-wrapper">
    <div   class="col-2 pull-left user-img-wrapper" routerLink="/user/{{authService.currentUser._id}}">
       
      <img class="user-avatar pull-left"  src="assets/images/user-avatar.png">
  
    </div>
  <div class="col-2 event-manu-icon">
    <i class="fa fa-comment"></i>
  </div>
  
 
  <div class="col-2 event-manu-icon">
    <i class="fa fa-user-plus"></i> 
  </div>

  <div class="col-2 event-manu-icon">
      <i class="fa fa-image"></i>
  </div>
 
  <div class="col-1"></div>
  <div class="col-1"></div>
    <div class="col-1 event-manu-icon">
        <i class="fa fa-cog"></i>
      </div>
</div>