<div class="row event-header-wrapper">
  <div class="col-1">
    <i class="fa fa-comment"></i>
  </div>
  
 
  <div class="col-1">
    <i class="fa fa-user-plus"></i> 
  </div>

  <div class="col-1">
      <i class="fa fa-image"></i>
  </div>
  <div class="col-1"></div>
  <div class="col-1"></div>
  <div class="col-1"></div>
  <div class="col-1"></div>
  <div class="col-1"></div>
  <div class="col-1"></div>
  <div class="col-1"></div>
    <div class="col-1">
        <i class="fa fa-cog"></i>
      </div>
</div>